@import '../breakpoints.scss';

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  overflow: auto;
  max-height: 100%;
}

.app-flex-container {
  flex-direction: column;
  place-content: stretch center;
  align-items: stretch;
  justify-content:center;
  display:flex;
  flex-grow: 1;

  overflow: auto;

  height: 100%;
  max-height: $max-height;
  max-width: $max-width;
  min-width: $min-width;
  width: 100%;

  padding: $padding-phone;
  margin:auto;

  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;

  // small devices
  @media screen and (max-width: $bp-phone) {
    max-width: none;  // No restriction on width/height
    max-height: none;

    margin: 0;        // No margin/padding
    padding: 0;

    border-radius: 0; // No borders
    box-shadow: none;
  }
}


