@import '~src/breakpoints.scss';

:host {
  height: 100%;
}

.iframe-wrapper iframe {
  width: 100%;
  min-height: 50vh;

  @media screen and (max-width: $bp-phone) {
    min-height: 75vh;
  }
}

.iframe-wrapper {
  display:block;
  width: 100%;
  height: 100%;
}
